body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  }


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.inputWrap{

}

.outputWrap{

}

.maximized{

}

.hide{
  display:none
}


.toolbar{
  position:relative;
  background-color:blue;
  border: 1px solid black;
  padding: 4px 4px 3px 3px;
}

.toolbar > i{
      width: 25px;
      color: black;
      margin-left: 5px;
}

.toolbar > .fa-arrows-alt,
  .fa-compress {
    position: absolute;
    right: -5px;
  }

.fa-arrows-alt,.fa-compress:hover {
  color: red;
  cursor: pointer;
  }
